.btn-primary     {
  color: #f7f7f7;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 1;
}

.btn-primary:hover   {
  opacity: 0.6;
  text-decoration: none;
  color: #f7f7f79;
  font-weight: lighter;
}

